@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&family=Kaushan+Script&family=Montserrat:wght@400;700&family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
